@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark &));

html {
  scroll-behavior: smooth;
  /* Scrollbar para Firefox (Tema Claro) */
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f8fafc;
}

html.dark {
  /* Scrollbar para Firefox (Tema Escuro) */
  scrollbar-color: #64748b #020617;
}

body, #app {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgba(139, 92, 246, 0.2);
  color: #4c1d95;
}

.dark ::selection {
  background-color: rgba(168, 85, 247, 0.3);
  color: #e9d5ff;
}

/* =========================================
   Estilização da Barra de Rolagem (Scrollbar)
   ========================================= */

/* Chrome, Edge e Safari: Largura/Altura base */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* --- TEMA CLARO (Padrão) --- */
::-webkit-scrollbar-track {
  background: #f8fafc; /* correspondente ao bg-slate-50 */
}

::-webkit-scrollbar-thumb {
  background-color: #b73cf4; /* correspondente ao bg-slate-300 */
  border-radius: 9999px;
  border: 3px solid #b73cf4; /* Cria o efeito de borda/padding com a mesma cor do track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b95bef; /* correspondente ao bg-slate-400 */
}

/* --- TEMA ESCURO (.dark) --- */
html.dark ::-webkit-scrollbar-track {
  background: #020617; /* correspondente ao bg-slate-950 da sua imagem */
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #b73cf4; /* correspondente ao bg-slate-500 */
  border: 3px solid #b73cf4; /* Borda escura para afinar a barra */
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #b95bef; /* correspondente ao bg-slate-400 no hover */
}
